<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyFeature</string>
	<key>Description</key>
	<string>This generates a new feature using VIPER architecture.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the feature to create</string>
			<key>Identifier</key>
			<string>featureName</string>
			<key>Name</key>
			<string>New Feature Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>ModuleName</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___Constant</string>
			<key>Identifier</key>
			<string>constantName</string>
			<key>Name</key>
			<string>Constant file:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>accessfile</string>
			<key>Default</key>
			<string>___VARIABLE_featureName:identifier___</string>
			<key>Name</key>
			<string>Access File:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>contactName</string>
			<key>Default</key>
			<string>VIPER/___VARIABLE_featureName:identifier___Contract</string>
			<key>Name</key>
			<string>Contract:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>factoryName</string>
			<key>Default</key>
			<string>VIPER/___VARIABLE_featureName:identifier___Factory</string>
			<key>Name</key>
			<string>Factory:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Default</key>
			<string>VIPER/___VARIABLE_featureName:identifier___Presenter</string>
			<key>Name</key>
			<string>Presenter:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Default</key>
			<string>VIPER/___VARIABLE_featureName:identifier___Interactor</string>
			<key>Name</key>
			<string>Interactor:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>routerName</string>
			<key>Default</key>
			<string>VIPER/___VARIABLE_featureName:identifier___Router</string>
			<key>Name</key>
			<string>Router:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Default</key>
			<string>VIPER/___VARIABLE_featureName:identifier___ViewController</string>
			<key>Name</key>
			<string>ViewController:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>localDataSourceName</string>
			<key>Default</key>
			<string>VIPER/DataSource/___VARIABLE_featureName:identifier___LocalDataSource</string>
			<key>Name</key>
			<string>LocalDataSource:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>cloudDataSourceName</string>
			<key>Default</key>
			<string>VIPER/DataSource/___VARIABLE_featureName:identifier___CloudDataSource</string>
			<key>Name</key>
			<string>CloudDataSource:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>This generates a new feature using VIPER architecture.</string>
</dict>
</plist>
